:root {
    --color-background0: #1d1d1d;
    --color-background1: #272727;

    --color-on-background0: #323232;
    --color-on-background1: #4d4d4d;
    --color-on-background2: #707070;

    --color-text0: #dddddd;
    --color-text1: #ababab;
    --color-text2: #787878;

    --color-text-info: #2389e6;

    --color-text-on-color0: #eee;
    --color-text-on-color1: #aaa;

    --color-info: #1c568a;

    --color-success0: #64a148;
    --color-success1: #5e8f47;

    --color-error0: #ad3d4a;
    --color-error1: #993d48;
}

html {background: var(--color-background1);}

body {
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
}

#app {
    display: flex;
    flex-flow: column;

    height: 100%;
    max-height: inherit;

    & > div {
        flex: 1 0 auto;
    }
}

$toolbar-height: 2em;

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    max-height: $toolbar-height;
    height: $toolbar-height;
    box-sizing: border-box;
    padding: 3pt 1em 3pt 1em;

    button {
        border: none;
        border-radius: 0;
        width: 2.7em;
        height: 100%;
        background-color: inherit;
        color: var(--color-text-on-color0);
        cursor: pointer;

        &:hover {
            background-color: var(--color-on-background1);
        }

        &:enabled:active {
            background-color: var(--color-on-background0);
        }
    }
}

#app > .splitpane {
    box-sizing: border-box;
    max-height: calc(100% - $toolbar-height);
    height: calc(100% - $toolbar-height);
}
